{% extends 'rango/base.html' %}
{% load staticfiles %}


    {% block body_block %}
 
                <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

                    <button class="btn btn-primary"
                        onClick="alert('You clicked the button using JavaScript.');">
                        Click Me - I run JavaScript
                        </button>
                   <h1>Hello</h1>
                   <p>Prashant</p>
        
                   
                   <button class="btn btn-primary" id="about-btn">
                    <div id="msg">Hello - I'm here for a JQuery Example too</div></button>
                   <div>This is a example</div>
                    <p>This text is for a JQuery Example</p>.

            </main>
     
        
    {% endblock %}