<!DOCTYPE html>

{% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script>
    <script src="{% static 'js/rango-ajax.js' %}"></script>
{% load rango_template_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        Rango - {% block title %}How to Tango with Django!{% endblock %}
    </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">Rango</a>
        <div id="navbar">
            <nav class="nav navbar-nav pull-xs-left">
                <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'rango:about' %}">About</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'rango:add_category' %}">Add a New Category</a>
                <a class="nav-item nav-link" href="{% url 'rango:profile' user.username %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'rango:list_profiles' %}">List Profiles</a>
                <a class="nav-item nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'registration_register' %}">Register Here</a>
                <a class="nav-item nav-link" href="{% url 'auth_login' %}">Login</a>
                {% endif %}
            </nav>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top: 70px;">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-list">
                    <li class="nav-header">find a category</li><br />
                    <form>
                        <li><input class="search-query form-control" type="text" name="suggestion" value="" id="suggestion" />
                        </li>
                    </form>
                </ul>
                <hr>
                <div id="cats">
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block body_block %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script> -->
    <script>window.jQuery || document.write('<script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>